.section {
  margin-top: 3%;

  .section-header {
    width: 100%;
    text-align: left;
    font-size: 1.4em;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }

  @media screen and (min-width: $mobile-width) {
    .section-header {
      margin-bottom: 10px;
      font-size: 1.6em;
    }

    .add-mobile {
      display: none;
    }
  }
}

.info-row {
  display: flex;
  flex-direction: column;
  min-height: 5vh;
  margin-bottom: 10px;

  span:first-child {
    width: 100%;
    font-weight: 700;
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    outline: none;
  }

  textarea {
    width: 100%;
    resize: none;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    outline: none;
  }

  @media screen and (min-width: $mobile-width) {
    flex-direction: row;

    span:first-child {
      width: 35%;
    }

    input {
      width: 65%;
    }

    textarea {
      width: 65%;
    }
  }
}

.expense-list-item {
  span:first-child {
    width: 75%;
  }

  input {
    width: 25%;
  }
}

.map {
  width: 100%;
  height: 0;
  padding-top: 60%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.payments-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  span:first-child {
    width: 70%;
    font-weight: 700;
  }

  span:last-child {
    width: 30%;
  }

  @media screen and (min-width: $mobile-width) {
    span:first-child {
      width: 35%;
      font-weight: 700;
    }

    span:last-child {
      width: 65%;
    }
  }
}

.add-pc {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: none;

  div {
    width: 25%;
  }

  @media screen and (min-width: $mobile-width) {
    display: inline-block;
  }
}

.total-cost {
  margin-bottom: 10px;
}

.event::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

.event::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);

  &:active {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.event::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.event::-webkit-scrollbar-corner {
  background-color: transparent;
}